name: continuous-integration

on:
  push:
    tags:
      - '*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:  
      - 
        name: Checkout
        uses: actions/checkout@main
      -
        name: Check Tag Matches
        id: match-tag-to-package-version
        uses: geritol/match-tag-to-package-version@0.2.0
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - 
        name: Set Tag Output
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}  
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/personal-blog:${{ steps.vars.outputs.tag }}
